sc-progressbar .sc-progressbar-container {
    display:table;
    border-collapse: collapse;
    float: right;
    margin-bottom: 10px;
    margin-top: 10px;
}

sc-progressbar .sc-progressbar-row {
    background-color: #ccc;
    padding: 1px;
    height: 30px;
}

sc-progressbar .row {
    display: table-row;
}

sc-progressbar .progressbar-menu {

}

sc-progressbar .sc-first {
    border-radius: 10px 0 0 10px;
}

sc-progressbar .sc-last {
    border-radius: 0 10px 10px 0;
}

sc-progressbar .sc-progressbar-cell {
    display: table-cell;
}

sc-progressbar .step-arrow {
    color: #337ab7;
    cursor: pointer;
}

sc-progressbar .step-arrow-grey {
    color: #EEEEEE;
    cursor: default;
}

sc-progressbar .step-arrow, sc-progressbar .step-arrow-grey {
    width: 30px;
    text-align: center;
    background-color: #CCCCCC
}

sc-progressbar .progress-bar {
    line-height: 32px;
    margin-top: -1px;
    margin-bottom: -1px;
    font-size: 14px;
    color: #777777;
    background-color: #c1d9ee;
}

sc-progressbar .text-nowrap {
    margin-left: 10px;
    margin-right: 10px;
    cursor: default;
}

sc-progressbar progressbar.sc-progressbar {
    margin-bottom: 0;
}

.sc-page {
    float: left;
}

.sc-page-variant {
    float: right;
}

.page {
    color: #337ab7;
    font-size: 12px;
    cursor: default;
}

.page-arrow {
    color: #337ab7;
    cursor: pointer;
}

.page-arrow-grey {
    color: #EEEEEE;
    cursor: default;
}

.sc-progress.progress {
    background-color: #EEEEEE;
    width: auto;
    border: 1px solid #CCCCCC;
    height: unset;
    margin-bottom: unset;
}
