<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>
	<testDocumentationDirPath>/home/scenarioo/scenarioo/scenarioo-docu-generation-example/build/scenarioDocuExample</testDocumentationDirPath>
    <defaultBranchName>wikipedia-docu-example</defaultBranchName>
    <defaultBuildName>last successful</defaultBuildName>
    <aliasForMostRecentBuild>most recent</aliasForMostRecentBuild>
    <aliasForLastSuccessfulBuild>last successful</aliasForLastSuccessfulBuild>
    <buildStatusForSuccessfulBuilds>success</buildStatusForSuccessfulBuilds>
    <scenarioPropertiesInOverview></scenarioPropertiesInOverview>
    <applicationName>Sketcher</applicationName>
    <applicationInformation></applicationInformation>
    <buildstates>
        <entry>
            <key>failed</key>
            <value>label-danger</value>
        </entry>
        <entry>
            <key>success</key>
            <value>label-success</value>
        </entry>
        <entry>
            <key>warning</key>
            <value>label-warning</value>
        </entry>
    </buildstates>
    <createLastSuccessfulScenarioBuild>false</createLastSuccessfulScenarioBuild>
    <expandPagesInScenarioOverview>false</expandPagesInScenarioOverview>
    <branchAliases/>
    <labelConfigurations/>
    <customObjectTabs>
        <id>pages</id>
        <tabTitle>Pages</tabTitle>
        <objectTypesToDisplay>page</objectTypesToDisplay>
    </customObjectTabs>
    <customObjectTabs>
        <id>labels</id>
        <tabTitle>Labels</tabTitle>
        <objectTypesToDisplay>label</objectTypesToDisplay>
    </customObjectTabs>
    <customObjectTabs>
        <id>requirements</id>
        <tabTitle>Requirements</tabTitle>
        <objectTypesToDisplay>feature</objectTypesToDisplay>
        <objectTypesToDisplay>epic</objectTypesToDisplay>
        <objectTypesToDisplay>userStory</objectTypesToDisplay>
        <customObjectDetailColumns>
            <columnTitle>Description</columnTitle>
            <propertyKey>description</propertyKey>
        </customObjectDetailColumns>
    </customObjectTabs>
    <customObjectTabs>
        <id>calls</id>
        <tabTitle>Calls</tabTitle>
        <objectTypesToDisplay>service</objectTypesToDisplay>
        <objectTypesToDisplay>businessOperation</objectTypesToDisplay>
        <objectTypesToDisplay>uiAction</objectTypesToDisplay>
        <customObjectDetailColumns>
            <columnTitle>Description</columnTitle>
            <propertyKey>description</propertyKey>
        </customObjectDetailColumns>
        <customObjectDetailColumns>
            <columnTitle>Real Name for Service</columnTitle>
            <propertyKey>realName</propertyKey>
        </customObjectDetailColumns>
    </customObjectTabs>
    <customObjectTabs>
        <id>uiElements</id>
        <tabTitle>UI Elements</tabTitle>
        <objectTypesToDisplay>uiElement</objectTypesToDisplay>
    </customObjectTabs>
</configuration>
