<div class="diff-info-wrapper">
    <div class="progress sc-diff-changes" tooltip-class="diff-icon-tooltip" tooltip-placement="left"
         uib-tooltip-html="$ctrl.infoText">
        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="{{$ctrl.changedPercentage}}"
             class="progress-bar progress-bar-warning" ng-style="{ 'width' : $ctrl.changedPercentage }"
             role="progressbar"></div>
        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="{{$ctrl.addedPercentage}}"
             class="progress-bar progress-bar-success" ng-style="{ 'width' : $ctrl.addedPercentage }"
             role="progressbar"></div>
        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="{{$ctrl.removedPercentage}}"
             class="progress-bar progress-bar-danger" ng-style="{ 'width' : $ctrl.removedPercentage }"
             role="progressbar"></div>
        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="{{$ctrl.unchangedPercentage}}"
             class="progress-bar progress-bar-default" ng-style="{ 'width' : $ctrl.unchangedPercentage }"
             role="progressbar"></div>
        <div class="change-rate">
            <span ng-if="$ctrl.displayPercentageChanged()">{{$ctrl.diffInfo.changeRate | scRoundUp}}%</span>
            <span class="added" ng-if="$ctrl.diffInfo.isAdded">added</span>
            <span class="removed" ng-if="$ctrl.diffInfo.isRemoved">removed</span>
        </div>
    </div>
</div>
