<button type="button" class="btn btn-primary" (click)="isPanelCollapsed = !isPanelCollapsed"
        [attr.aria-expanded]="!isPanelCollapsed" aria-controls="collapseBasic">
    {{ isPanelCollapsed ? "Show details": "Hide details" }}
</button>

<div *ngIf="isPanelCollapsed" class="detail-container col-sm-1 pull-right">
    <div class="detail-cell detail-button" (click)="isPanelCollapsed = false" aria-controls="collapseManual">
        <i class="fas fa-angle-left"></i>
    </div>
</div>

<div class="detail-container col-sm-4 pull-right">
    <div class="detail-row">

        <div *ngIf="!isPanelCollapsed" class="detail-cell detail-button" (click)="isPanelCollapsed = true" aria-controls="collapseManual">
            <i class="fas fa-angle-right"></i>
        </div>

        <div class="detail-cell detail-section" #collapse="bs-collapse" [collapse]="isPanelCollapsed" >
            <h3>Details</h3>
            <accordion [isAnimated]="true">
                <accordion-group [isOpen]="isFirstOpen" panelClass="customClass" (click)="isAccordionCollapsed = !isAccordionCollapsed"
                                 [attr.aria-expanded]="!isAccordionCollapsed">
                    <div accordion-heading>
                        <span *ngIf="isAccordionCollapsed" >
                            <i class="fas fa-angle-down"></i>
                        </span>
                        <span *ngIf="!isAccordionCollapsed" >
                            <i class="fas fa-angle-up"></i>
                        </span>
                        <span>Branch</span>
                    </div>
                    tbd
                </accordion-group>
            </accordion>
        </div>
    </div>
</div>
