<button (click)="valueChange()" [attr.aria-expanded]="!isPanelCollapsed" aria-controls="collapseBasic" id="sc-showHideDetailsButton"
        class="btn btn-primary pull-right" type="button">
    {{ isPanelCollapsed ? "Show details" : "Hide details" }}
</button>

<!--
<div *ngIf="isPanelCollapsed" class="detail-container col-sm-1 pull-right">
    <div class="detail-cell detail-button" (click)="isPanelCollapsed = false" aria-controls="collapseManual">
        <i class="fas fa-angle-left"></i>
    </div>
</div>
-->

<div #collapse="bs-collapse" [collapse]="isPanelCollapsed">
    <div id="sc-metadata-panel" class="detail-container col-sm-4 pull-right">
        <div class="detail-row">

            <div (click)="valueChange()" *ngIf="!isPanelCollapsed" aria-controls="collapseManual"
                 class="detail-cell detail-button">
                <i class="fas fa-angle-right"></i>
            </div>

            <div class="detail-cell detail-section">
                <h3>Details</h3>
                <accordion [isAnimated]="true">

                    <!-- usecases-overview -->
                    <sc-detail-accordion *ngIf="branchInformationTree" [informationTree]="branchInformationTree" detailAccordionName="Branch" [isFirstOpen]="true" [tree]="true"></sc-detail-accordion>
                    <sc-detail-accordion *ngIf="buildInformationTree" [informationTree]="buildInformationTree" detailAccordionName="Build" [isFirstOpen]="false" [tree]="true"></sc-detail-accordion>

                    <!-- scenarios-overview -->
                    <sc-detail-accordion *ngIf="usecaseInformationTree" [informationTree]="usecaseInformationTree" detailAccordionName="Use Case" [isFirstOpen]="true" [tree]="true"></sc-detail-accordion>
                    <sc-detail-accordion *ngIf="relatedIssues && !isEmptyObject(relatedIssues)" [informationTree]="relatedIssues" detailAccordionName="Related Sketches" [isFirstOpen]="false" [sketches]="true"></sc-detail-accordion>
                    <sc-detail-accordion *ngIf="useCaseLabels && !isEmptyObject(useCaseLabels)" [informationTree]="useCaseLabels" [labelConfigurations]="labelConfigurations" detailAccordionName="Labels" [isFirstOpen]="false" [label]="true"></sc-detail-accordion>
                    <sc-detail-accordion *ngIf="metadataInformationTree" [informationTree]="metadataInformationTree" detailAccordionName="Webtest Class" [isFirstOpen]="false" [metadataTree]="true"></sc-detail-accordion>

                </accordion>
            </div>
        </div>
    </div>
</div>
