/* Buttons over detailarea */

sc-detailarea button.btn.btn-primary {
    background-color: unset;
    border: unset;
    color: #337AB7;
    font-style: italic;
    margin-bottom: 5px;
    padding: 0;
    margin-right: 15px;
    margin-top: -25px;
}

sc-detailarea button.btn.btn-primary:focus {
    outline: unset;
    background-color: transparent;
    box-shadow: unset;

}

sc-detailarea button.btn.btn-primary:active {
    color: #333333;
}


/* Detailarea */

sc-detailarea .detail-container {
    border: 1px solid #ccc;
    display: table;
    padding: unset;
    background-color: #eeeeee;
}

sc-detailarea .detail-row {
    display: table-row;
}

sc-detailarea .detail-cell {
    display: table-cell;
    /*visibility: hidden;*/
}

sc-detailarea .detail-button {
    background-color: #CCCCCC;
    width: 30px !important;
    vertical-align: middle;
    font-size: x-large;
    color: #337AB7;
    text-align: center;
    cursor: pointer;
}

sc-detailarea .detail-section {
    width: 100%;
    padding: 0;
    padding-left: 15px;
    margin-right: 0;
    float: right;
}

sc-detailarea .detail-section h3 {
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 10px;
}


/* Detail accordion */

sc-detailarea accordion {
    margin-right: 20px;
    margin-left: 10px;
}

sc-detailarea accordion span {
    margin-right: 10px;
}

sc-detailarea accordion accordion-group {
    border: 2px solid #FFFFFF;
    margin-bottom: 20px !important;
}

sc-detailarea div.panel-heading {
    background-color: #FFFFFF;
}

sc-detailarea div.panel-body {
    background-color: #eeeeee;
    word-break: break-word;
}

sc-detailarea .panel-group .panel+.panel {
    margin-top: 20px;
}
