/* Buttons over detailarea */

sc-detailarea button.btn.btn-primary {
    background-color: unset;
    border: unset;
    color: #337AB7;
    font-style: italic;
    padding: 0;
    margin-right: 15px;
    margin-top: -25px;
}

sc-detailarea button.btn.btn-primary:focus {
    outline: unset;
    background-color: transparent;
    box-shadow: unset;
}

sc-detailarea button.btn.btn-primary:active {
    color: #333333;
}


/* Detailarea */

sc-detailarea .sc-meta-data-panel {
    margin-top: 35px;
}

sc-detailarea .detail-container {
    border: 1px solid #ccc;
    border-right: 0;
    display: table;
    padding: unset;
    background-color: #eeeeee;
    right: 0;
}

sc-detailarea .detail-row {
    display: table-row;
}

sc-detailarea .detail-cell {
    display: table-cell;
}

sc-detailarea .detail-button {
    background-color: #CCCCCC;
    width: 30px;
    font-size: x-large;
    color: #337AB7;
    cursor: pointer;
    vertical-align: top;
}

sc-detailarea .arrowCenter {
    position: sticky;
    margin-left: 10px;
    margin-top: 300px;
    top: 250px;
}

sc-detailarea .detail-section {
    width: 100%;
    padding: 0 0 0 15px;
    float: right;
}

sc-detailarea .detail-section h3 {
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 10px;
}
