<tabset #manageTabs>
    <tab [heading]="tabs[0].name" (selectTab)="onSelect($event)">
        <sc-builds-list *ngIf="isActiveTab(0)"></sc-builds-list>
    </tab>
    <tab [heading]="tabs[1].name" (selectTab)="onSelect($event)">
        <sc-comparisons *ngIf="isActiveTab(1)"></sc-comparisons>
    </tab>
    <tab [heading]="tabs[2].name" (selectTab)="onSelect($event)">
        <sc-branch-aliases2 *ngIf="isActiveTab(2)"></sc-branch-aliases2>

    </tab>
    <tab [heading]="tabs[3].name" (selectTab)="onSelect($event)">
        <sc-label-colors *ngIf="isActiveTab(3)"></sc-label-colors>
    </tab>
    <tab [heading]="tabs[4].name" (selectTab)="onSelect($event)">
        <sc-general-settings *ngIf="isActiveTab(4)"></sc-general-settings>
    </tab>
</tabset>
