<tabset #manageTabs>
    <tab [heading]="tabs[0].name">
        <sc-builds-list *ngIf="isActiveTab(0)"></sc-builds-list>
    </tab>
    <tab [heading]="tabs[1].name">
        <sc-comparisons *ngIf="isActiveTab(1)"></sc-comparisons>
    </tab>
    <tab [heading]="tabs[2].name">
        <sc-branch-aliases *ngIf="isActiveTab(2)"></sc-branch-aliases>
    </tab>
    <tab [heading]="tabs[3].name">
        <sc-label-colors *ngIf="isActiveTab(3)"></sc-label-colors>
    </tab>
    <tab [heading]="tabs[4].name">
        <sc-general-settings *ngIf="isActiveTab(4)"></sc-general-settings>
    </tab>
</tabset>
