classes/
bin/
*~
target/
.metadata
.sass-cache
.tmp
dist/
node_modules/
app/bower_components
.idea
.vm-update.log
.gradle
third-party
scenarioo-client/app/scripts/environment_config.js
scenarioo-client/app/styles/scenarioo.css
scenarioo-client/scenariooDocumentation
scenarioo-validator/build
.project
/build
*hs_err*.log
/build
.classpath
.settings
*.iml
