# Ignore .idea files except basic run configurations
/.idea/workspace.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/libraries
/.idea/modules
/.idea/shelf

classes/
bin/
*~
target/
.metadata
.sass-cache
.tmp
dist/
node_modules/
app/bower_components
.vm-update.log
.gradle
third-party
scenarioo-client/app/scripts/environment_config.js
scenarioo-client/app/styles/scenarioo.css
scenarioo-client/scenariooDocumentation
scenarioo-validator/build
.project
/build
*hs_err*.log
/build
.classpath
.settings
*.iml
npm-debug.log
scenarioo-latest.war
out
docker/logs


