<li class="dropdown" uib-dropdown is-open="status.isBuildSelectionOpen" id="build-selection-dropdown">
    <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
        <i class="icon-folder-open"></i>&nbsp;&nbsp;Build:
        <i class="icon-link" ng-show="isBuildAlias(selectedBuild)"></i>
        <i class="icon-ok" ng-show="isLastSuccessfulScenariosBuild(selectedBuild)"></i>
        {{getDisplayNameForBuild(selectedBuild, true)}} ({{selectedBuild.build.date | scDateOnly}})&nbsp;
        <span ng-class="[getStatusStyleClass(selectedBuild.build.status), 'label']">{{selectedBuild.build.status}}</span>
        <div class="icon-with-padding"><b class="caret"></b></div>
    </a>
    <ul class="dropdown-menu">
        <li ng-repeat="build in selectedBranch.builds">
            <a ng-click="onBuildChange({build: build})">
                <i class="icon-link" ng-show="isBuildAlias(build)"></i>
                <i class="icon-ok" ng-show="isLastSuccessfulScenariosBuild(build)"></i>
                {{getDisplayNameForBuild(build, false)}} ({{build.build.date | scDateTime}})&nbsp;
                <span ng-class="[getStatusStyleClass(build.build.status), 'label']">{{build.build.status}}</span>
            </a>
        </li>
    </ul>
</li>
