<div id="sc-breadcrumbs">
    <span>
        <ol class="breadcrumb">
            <li ng-class="{'active': breadcrumb.isLast}" ng-repeat="breadcrumb in breadcrumbs">
                <a id="breadcrumb_{{$index}}" ng-show="!breadcrumb.showTooltip && !breadcrumb.isLast"
                   href="{{breadcrumb.href}}" ng-bind-html="breadcrumb.text"></a>
                <a id="tooltip_{{$index}}" ng-show="breadcrumb.showTooltip && !breadcrumb.isLast"
                   tooltip="{{breadcrumb.tooltip}}" tooltip-placement="top" href="{{breadcrumb.href}}"
                   ng-bind-html="breadcrumb.text"></a>
                <span id="breadcrumb_last_{{$index}}" ng-show="breadcrumb.isLast" ng-bind-html="breadcrumb.text"></span>
            </li>
        </ol>
    </span>
    <span class="pull-right">
        <a href="" ng-click="sketcherLink.executeLinkClickedAction()" ng-show="sketcherLink.isShowCreateOrEditSketchLink()" id="sketchThis"
           tooltip="Click here to go to the sketcher" tooltip-placement="bottom">
            <i class="glyphicon glyphicon-pencil"></i> {{sketcherLink.getCreateOrEditSketchLinkTitle()}}
        </a>
        &nbsp;&nbsp;
        <a href="" ng-click="showStepLinks()" style="margin-right: 5px;" id="shareThisPageLink">
            <i class="glyphicon glyphicon-share"></i> Share this page
        </a>
    </span>
</div>
