<div ng-if="viewer.contains(viewer.feature,'markdown')">
    <!--Show Markdown -->
    <md-card>
        <button type="button" class="md-toolbar-tools btn btn-primary" ng-click="viewer.feature.markdown.isCollapsed = !viewer.feature.markdown.isCollapsed">
            <h1 style="color: white;">{{viewer.feature.markdown.name}}</h1>
        </button>
        <div uib-collapse="viewer.feature.markdown.isCollapsed" ng-show="!viewer.feature.markdown.isCollapsed">
            <!--<span>{{viewer.feature.markdown.url}}, {{viewer.feature.markdown.name}}</span>-->
            <!--<a ng-button ng-repeat="link in viewer.feature.markdown.links" href="{{link.url}}">{{link.name}}</a>-->
            <markdown file="{{viewer.feature.markdown.url}}"></markdown>
        </div>
    </md-card>
</div>
<div ng-if="viewer.contains(viewer.feature, 'specification')">
    <!--Show Specification -->
    <md-card>
        <button type="button" class="md-toolbar-tools btn btn-primary" ng-click="viewer.feature.specification.isCollapsed = !viewer.feature.specification.isCollapsed">
            <h1 style="color: white;">{{viewer.feature.specification.name}}</h1>
        </button>
        <div uib-collapse="viewer.feature.specification.isCollapsed" ng-show="!viewer.feature.specification.isCollapsed">
            <!--<span>{{viewer.feature.markdown.url}}, {{viewer.feature.markdown.name}}</span>-->
            <a ng-button ng-repeat="link in viewer.feature.specification.links" href="{{link.url}}">{{link.name}}</a>
            <markdown file="{{viewer.feature.specification.url}}"></markdown>
        </div>
    </md-card>
</div>
