<div class="sc-annotated-screenshot-container">
    <div ng-show="$ctrl.visibilityToggle">
        <span class="sc-screenshot-annotation"
              ng-class="{'sc-screenshot-annotation-with-action': $ctrl.hasClickAction(screenAnnotation)}"
              ng-click="$ctrl.doClickAction(screenAnnotation)"
              ng-repeat="screenAnnotation in $ctrl.screenAnnotations" ng-style="$ctrl.getBoxCssStyle(screenAnnotation)"
              tooltip-placement="bottom" uib-tooltip="{{$ctrl.getTooltipText($ctrl.screenAnnotation)}}">
            <span class="sc-screenshot-annotation-text">
                {{$ctrl.getBoxText(screenAnnotation)}}
            </span>
        </span>
        <span class="sc-screenshot-annotation-icon"
              ng-click="$ctrl.openInfoPopup(screenAnnotation)" ng-repeat="screenAnnotation in $ctrl.screenAnnotations"
              ng-show="$ctrl.getIconClass(screenAnnotation) !== ''" ng-style="$ctrl.getIconCssStyle(screenAnnotation)">
            <i class="fas fa-lg" ng-class="[$ctrl.getIconClass(screenAnnotation)]"></i>
        </span>
    </div>
    <div>
        <img class="sc-screenshot sc-real-screenshot sc-screenshot-border" ng-src="{{$ctrl.screenShotUrl}}"
             ng-style="{position: $ctrl.showDiff ? 'absolute':'static'}"/>
        <img class="sc-screenshot sc-diff-screenshot sc-screenshot-border" ng-hide="!$ctrl.showDiff"
             ng-src="{{$ctrl.diffScreenShotUrl}}" ng-style="{position: 'absolute'}"/>
    </div>
</div>
