<div class="sc-screenshot-border sc-annotated-screenshot-container">
    <div ng-show="visibilityToggle">
        <span ng-repeat="screenAnnotation in screenAnnotations" class="sc-screenshot-annotation" ng-class="{'sc-screenshot-annotation-with-action': hasClickAction(screenAnnotation)}"
              ng-style="getBoxCssStyle(screenAnnotation)" ng-click="doClickAction(screenAnnotation)" uib-tooltip="{{getTooltipText(screenAnnotation)}}" tooltip-placement="bottom">
            <span class="sc-screenshot-annotation-text">
                {{getBoxText(screenAnnotation)}}
            </span>
        </span>
        <i ng-repeat="screenAnnotation in screenAnnotations"
           ng-class="[getIconClass(screenAnnotation), 'icon-large', 'sc-screnshot-annotation-icon']" ng-style="getIconCssStyle(screenAnnotation)"
                ng-show="getIconClass(screenAnnotation) !== ''" ng-click="openInfoPopup(screenAnnotation)"></i>
    </div>
    <img ng-src="{{getScreenShotUrl()}}" class="sc-screenshot"/>
</div>
