<!-- View Screen Annotations toggle button -->
<div style="display:inline-block;" id="sc-showHideScreenAnnotationsButton" ng-click="screenAnnotationsButton.toggleAnnotationsVisible()" ng-show="screenAnnotationsButton.isAnnotationsButtonVisible()">
<div style="display:inline-block;" id="sc-showHideScreenAnnotationsButton" ng-click="screenAnnotationsButton.toggleAnnotationsVisible()" ng-show="screenAnnotationsButton.isAnnotationsButtonVisible()">
	<button id="sc-showHideDetailsButton-hide" ng-show="visibilityToggle" class="btn btn-default"
	   tooltip="Hides screen annotations with additional information on top of  the screenshot" tooltip-placement="bottom">Hide Screen Annotations</button>
	<button id="sc-showHideDetailsButton-show" ng-hide="visibilityToggle" class="btn btn-default"
	   tooltip="Shows screen annotations with additional information on top of the screenshot" tooltip-placement="bottom">Show Screen Annotations</button>
</div>
