<md-card
     style="
        padding: 5px;
        min-width: 15em;
        min-height: 10em;
        background-color: #e0f2be;
     ">
    {{card.feature.name}}
<br/>
    {{card.feature.milestone}}
    <br/>
    Status: {{card.feature.status}}
    <br/>
    Description: {{card.feature.description}}
    <h4>Direct Childs</h4>
    <ul>
        <li ng-repeat="feature in card.feature.features"><a ng-click="card.clickFeature(feature, '')">{{feature.name}}</a></li>
    </ul>
    <br/>
    Parent Feature: <a ng-click="card.clickFeature(card.feature.parentFeature, '')">{{card.feature.parentFeature.name}}</a>
</md-card>
