sc-title h1 {
    font-weight: bold;
}

sc-title p {
    margin-top: 15px;
    margin-bottom: 0 !important;
    margin-left: 1px !important;
    font-style: normal !important;
    font-size: smaller;
}
