sc-title {
    float:left;
    margin-right: 100px;
}

sc-title h1 {
    font-weight: bold;
    margin-bottom: 0;
}

sc-title p {
    margin-bottom: 0;
    margin-left: 1px;
    font-style: normal;
    font-size: smaller;
}
