<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>
    <testDocumentationDirPath></testDocumentationDirPath>
    <defaultBranchName>trunk</defaultBranchName>
    <defaultBuildName>current</defaultBuildName>
    <scenarioPropertiesInOverview>userProfile, configuration</scenarioPropertiesInOverview>
    <applicationInformation>This is a sample text. Please describe your application.</applicationInformation>
    <buildstates>
        <entry>
            <key>failed</key>
            <value>label-danger</value>
        </entry>
        <entry>
            <key>success</key>
            <value>label-success</value>
        </entry>
        <entry>
            <key>warning</key>
            <value>label-warning</value>
        </entry>
    </buildstates>
</configuration>
