<div class="row">
    <div class="col-md-8">
        <ng-content select="sc-header-row"></ng-content>
    </div>
    <div class="col-md-4">
        <button class="btn btn-default pull-right" (click)="onToggleSidePanelDisplayed()">{{getButtonLabel()}}</button>
    </div>
</div>
<div class="row">
    <div [ngClass]="{'col-lg-8': isSidePanelDisplayed, 'col-lg-12': !isSidePanelDisplayed}">
        <ng-content select="sc-main-area"></ng-content>
    </div>
    <div *ngIf="isSidePanelDisplayed" class="col-lg-4">
        <ng-content select="sc-side-area"></ng-content>
    </div>
</div>
