<div id="sc-breadcrumbs">
    <span>
        <ol class="breadcrumb">
            <li ng-class="{'active': breadcrumb.isLast}" ng-repeat="breadcrumb in breadcrumbs">
                <a id="breadcrumb_{{$index}}" ng-show="!breadcrumb.showTooltip && !breadcrumb.isLast"
                   href="{{breadcrumb.href}}" ng-bind-html="breadcrumb.text"></a>
                <a id="tooltip_{{$index}}" ng-show="breadcrumb.showTooltip && !breadcrumb.isLast"
                   uib-tooltip="{{breadcrumb.tooltip}}" tooltip-placement="top" href="{{breadcrumb.href}}"
                   ng-bind-html="breadcrumb.text"></a>
                <span id="breadcrumb_last_{{$index}}" ng-show="breadcrumb.isLast" ng-bind-html="breadcrumb.text"></span>
            </li>
        </ol>
    </span>
    <span class="pull-right">

        <span
            id="createComparisonBtn"
            class="btn btn-sm btn-primary breadcrumb-button"
            ng-click="createComparison()"
            uib-tooltip="Compare current build with results from other build"
            tooltip-placement="bottom">
            <i class="fas fa-exchange-alt"></i>
            Create Comparison ...
        </span>
        &nbsp;&nbsp;

        <span
            id="sketchThis"
            class="btn btn-sm btn-primary breadcrumb-button"
            ng-click="sketcherLink.executeLinkClickedAction()"
            ng-show="sketcherLink.isShowCreateOrEditSketchLink()"
            uib-tooltip="Sketch on current screen to share with others"
            tooltip-placement="bottom">
            <i class="glyphicon glyphicon-pencil"></i>
            {{sketcherLink.getCreateOrEditSketchLinkTitle()}}
        </span>
        &nbsp;&nbsp;

        <a id="shareThisPageLink"
           href=""
           ng-click="showStepLinks()"
           style="margin-right: 5px;"
           uib-tooltip="Share this page with others (using stable links)"
           tooltip-placement="bottom">
            <i class="glyphicon glyphicon-share"></i> Share
        </a>
    </span>
</div>
