<div>
    <form name="branchAliasesForm">
        <table class="table table-curved table-responsive" >
            <thead>
            <tr>
                <th>Alias Name</th>
                <th>Referenced Branch</th>
                <th>Description</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let branchAlias in branchAliases">
                <td>
                    <label>
                        <input type="text" class="ng-pristine ng-valid form-control" [(ngModel)]="branchAlias.name" (ngModelChange)="aliasNameChanged()" name="aliasName"/>
                    </label>
                </td>
                <td>

                    <label>
                        <select [(ngModel)]="branchAlias.referencedBranch"
                                class="form-control"
                                [required]="branchAlias.name !== ''"
                                name="referencedBranch">
                            <option value=""></option>
                            <option *ngFor="let branch in branches"  >{{branch.branch.name}}</option>
                        </select>
                    </label>
                </td>
                <td>
                    <label>
                        <input type="text" class="ng-pristine ng-valid form-control" [(ngModel)]="branchAlias.description" name="aliasDescription"  />
                    </label>
                </td>
                <td>
                    <input type="button" class="btn btn-small btn-danger" value="Delete" (click)="deleteEntry(branchAlias.name)" />
                </td>
            </tr>
            </tbody>
        </table>

        <div class="alert alert-success fade-out" id="updated-branch-aliases-successfully" [hidden]="!successfullyUpdatedBranchAliases">
            The branch aliases have been successfully updated.
            <a (click)="successfullyUpdatedBranchAliases=false" class="pull-right link link-no-hover" style="color: #468847"><i
                class="fas fa-times"></i></a>
        </div>

        <div class="alert alert-danger fade-out" [hidden]="!uniqueError" id="duplicateAliasErrorId">
            <strong>Your branch aliases are not unique.</strong> Please make sure each name is only used once.
        </div>

        <div class="row sc-space-top-large">
            <div class="col-lg-12" style="text-align: right">
                <input type="button" value="Reset" class="btn btn-wide btn-default" (click)="reset()"/>
                <input type="button" value="Save" class="btn btn-wide btn-primary" (click)="save()" [disabled]="!branchAliasesForm.$invalid"/>
            </div>
        </div>
    </form>
</div>
