{
    "env": {
    },
    "rules": {
        "no-trailing-spaces": 0,
        "global-strict": 0,
        "strict": 0,
        "key-spacing": 0,
        "no-multi-spaces": 0,
        "eol-last": 0
    },
    "globals": {
        "before": false,
        "describe": false,
        "it": false,
        "xit": false,
        "beforeEach": false,
        "expect": false,
        "inject": false,
        "module": false,
        "jasmine": false,
        "spyOn": false
    }
}
