<li class="dropdown" uib-dropdown is-open="status.isBranchSelectionOpen" id="branchSelectionDropdown">
    <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
        <i class="fas fa-code-branch"></i> Branch:
        <span ng-show="selectedBranch.isAlias">
            <i class="fas fa-share" />
        </span>
        {{getBranchDisplayName(selectedBranch)}}
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li ng-repeat="branch in branchesAndBuilds.branches | scBranchOrderBy">
            <a ng-click="onBranchChange({branch: branch})" class="branchOption">
                <span ng-show="branch.isAlias">
                    <i class="fas fa-share"></i>
                </span>
                {{getBranchDisplayName(branch)}}</a>
        </li>
    </ul>
</li>
