<div class="sc-tree">
    <ul>
        <li id="usecase-labels" *ngIf="useCaseLabels && useCaseLabels.length > 0">
            <span class="sc-text-before-label">Use case:</span>
            <span *ngFor="let label of useCaseLabels"
                  [ngStyle]="getLabelStyle(label)"
                  class="label label-info sc-label">{{label}}</span>
        </li>
        <li id="scenario-labels" *ngIf="scenarioLabels && scenarioLabels.length > 0">
            <span class="sc-text-before-label">Scenario:</span>
            <span *ngFor="let label of scenarioLabels"
                  [ngStyle]="getLabelStyle(label)"
                  class="label label-info sc-label">{{label}}</span>
        </li>
        <li id="step-labels" *ngIf="stepLabels && stepLabels.length > 0">
            <span class="sc-text-before-label">Step:</span>
            <span *ngFor="let label of stepLabels"
                  [ngStyle]="getLabelStyle(label)"
                  class="label label-info sc-label">{{label}}</span>
        </li>
        <li id="page-labels" *ngIf="pageLabels && pageLabels.length > 0">
            <span class="sc-text-before-label">Page:</span>
            <span *ngFor="let label of pageLabels"
                  [ngStyle]="getLabelStyle(label)"
                  class="label label-info sc-label">{{label}}</span>
        </li>
    </ul>
</div>
