.sc-color-field {
    display: block;
    width: 50px;
    height: 25px;
    margin-right: 2px;
}

.sc-color-field-selected {
    border: 3px solid black;
}

.sc-color-chooser {
    float: left;
    padding-left: 0;
    padding-right: 20px;
    margin-bottom: 0;
    margin-top: 0;
}

.sc-color-chooser li {
    list-style-type: none;
    display: table-cell;
}

.sc-color-advanced-input {
    display: inline-block;
}

.sc-color-advanced-input input[type=text] {
    height: 25px;
    width: 100px;
    display: inline;
}

.sc-color-advanced-input input[type=button] {
    margin-right: 5px;
    height: 25px;
}

