.sc-color-advanced-input {
    float: left;
    height: 34px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.sc-color-advanced-input input[type=text] {
    width: 100px;
    display: inline;
}

.sc-color-advanced-input button {
    margin-right: 5px;
}

.sc-color-chooser {
    padding-left: 0;
    margin-bottom: 5px;
    margin-top: 0;
}

.sc-color-chooser li {
    list-style-type: none;
    display: table-cell;
}

.sc-color-field {
    display: block;
    width: 34px;
    height: 34px;
    margin-right: 5px;
}

.sc-color-field-selected {
    border: 3px solid black;
}

