<h2>Display Options</h2>

<div class="row sc-space-bottom">
    <div class="col-lg-3">Default state of pages in scenario overview</div>
    <div class="col-lg-9">
        <label>
            <input type="radio" name="expandPages" [(ngModel)]="configuration.expandPagesInScenarioOverview" [value]="false"/>
                collapsed
        </label>&nbsp;&nbsp;&nbsp;
        <label>
            <input type="radio" name="expandPages" [(ngModel)]="configuration.expandPagesInScenarioOverview" [value]="true"/>
            expanded
        </label>
    </div>
</div>
