<h2>Additional Columns</h2>

<div class="row sc-space-bottom" [formGroup]="additionalColumnsForm">
    <div class="col-lg-3">Additional Scenario Details Property Columns
        &nbsp;<span class="glyphicon glyphicon-info-sign" uib-tooltip="Details property values to show for a scenario as
        additional columns in the scenario list of a use case. Comma separated list of keys of entries in the
        'details'-map inside the scenarios. Only simple property-keys are supported (no dot notation)."></span>
    </div>
    <div class="col-lg-9">
        <input type="text" class="form-control" formControlName="scenarioPropertiesInOverview"/>
    </div>
</div>
