<div ng-controller="BranchAliasesCtrl">


    <form name="branchAliasesForm">
        <table class="table table-curved table-hover table-responsive" >
            <thead>
            <tr>
                <th>Alias name</th>
                <th>Referenced build</th>
                <th>Description</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="branchAlias in branchAliases">
                    <td>
                        <input type="text" class="ng-pristine ng-valid form-control" ng-model="branchAlias.name" ng-change="aliasNameChanged()" name="aliasName"/>
                    </td>
                    <td>
                        <div class="form-group">
                        <select ng-model="branchAlias.referencedBranch"
                                ng-options="branch.branch.name as branch.branch.name for branch in branches"
                                class="form-control"
                                ng-required="branchAlias.name !== ''"
                                name="referencedBranch"></select>
                        </div>
                    </td>
                    <td>
                        <input type="text" class="ng-pristine ng-valid form-control" ng-model="branchAlias.description" name="aliasDescription"  />
                    </td>
                    <td>
                        <input type="button" class="btn btn-small btn-danger" value="Delete" ng-click="deleteEntry(branchAlias.name)" />
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row alert alert-danger" ng-show="uniqueError">
            <strong>Your branch aliases are not unique.</strong> Please make sure each name is only used once.
        </div>

        <div class="row sc-space-top-large">
            <div class="col-lg-12" style="text-align: right">
                <input type="button" value="Reset" class="btn btn-wide btn-default" ng-click="reset()"/>
                <input type="button" value="Save" class="btn btn-wide btn-primary" ng-click="save()" ng-disabled="branchAliasesForm.$invalid"/>
            </div>
        </div>
    </form>
</div>