.navbar-nav {
    float: left;
    margin: 0;
}
.navbar-nav > li {
    float: left;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 0px;
    padding-bottom: 0px
}
.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-nav.navbar-right:last-child {
    margin-right: -15px;
}
