@import "compass_twitter_bootstrap";

.header .builds.dropdown {
  width: 500px;
}

.header .dropdown .dropdown-menu,
.header .dropdown .dropdown-menu li {
  width: 100%;
}

.header .buildLabel {
  padding-left: 20px;
}

.header .headerLabel {
  margin-right: 10px;
  font-weight: bold;
}

.label.state {
  min-width: 80px;
  text-align: center;
  padding-right: -8px !important;
}