
.link {
      cursor: pointer;
}

h1, h2, h3, h4 {
    color: #4B4B4B;
    font-weight: normal;
}

h1 {
    font-size: 32px;
    padding: 10px 0px 10px;
}

.table {
    border-width: 2px;
}
.table thead {
    background-color: whitesmoke;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
}

.table tbody, input.tableSearch {
    background-color: #FAFAFA;
}

.table tbody tr:nth-child(2n) td {
    background-color: 	#EEEEEE;
}

.table tbody tr:hover td {
    background-color: #EBF5FF;
}

.breadcrumbs {
    margin-bottom: 15px:
}

.breadcrumbs ul {
    list-style: none outside none;
    margin-left: 0px;
}

.breadcrumbs ul li {
    padding-left: 5px;
    float: left;
}

.hero-unit-hover:hover {
    background-color: #F8F8F8;
    border-radius: 6px 6px 6px 6px;
}

.step-navigation div {
    display: inline;
}

.step-view .hero-unit-small {
    margin-bottom: 10px;
    padding: 10px 20px;
}

.step-view {
    margin: 25px 25px 0px 25px !important;
}

.steps {
    margin-left: -25px;
    position: relative;
}

.step-panes {
    cursor: default;
}

.screenshot-small .screenshot-div {
    max-height: 500px;
    overflow:hidden;
}

.screenshot-small img {
    width: 800px;
}

.screenshot-div {
    margin-bottom: 10px;
    position: relative;
}

.modal-huge .modal-body {
    height: 100%;
    max-height: 670px;
}

.modal-huge img {
    text-align: center;
    width: 100%;
}

.modal-huge {
    width: 80%;
    max-height: 750px;
    margin-left: -40%;
}
@media (max-width: 600px) {
    .modal-huge {
        width: 580px;
        margin-left: -290px;
    }
}