
.resultTable {
    margin-left: 0px;
}

.link {
      cursor: pointer;
}

.table {
    border-width: 2px;
}
.table thead {
    background-color: whitesmoke;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
}

.table tbody, input.tableSearch {
    background-color: #FAFAFA;
}

.breadcrumbs {
    margin-bottom: 15px:
}

.breadcrumbs ul {
    list-style: none outside none;
}

.breadcrumbs ul li {
    padding-left: 5px;
    float: left;
}

.screenshot-small {
    max-height: 500px;
    overflow:hidden;
    margin-bottom: 30px;
}

.hero-unit-hover:hover {
    background-color: #F8F8F8;
    border-radius: 6px 6px 6px 6px;
}
.screenshot-small img {
    width: 800px;
}

.hero-unit-small {
    margin-bottom: 10px;
    padding: 10px 20px;
}

.step-navigation div {
    display: inline;
}