/** General **/
.link {
      cursor: pointer;
}

h1, h2, h3, h4 {
    color: #4B4B4B;
    font-weight: normal;
}

h1 {
    font-size: 32px;
    margin: 0px 0px 20px;
}

.label.state {
    min-width: 80px;
    text-align: center;
    padding-right: -8px !important;
}

.icon-with-padding {
    padding-left: 5px;
    padding-right: 5px;
}

.hero-unit-hover:hover {
    background-color: #F8F8F8;
    border-radius: 6px 6px 6px 6px;
}

/** Breadcrumbs **/
.breadcrumbs {
    margin-top: -20px;
}

.breadcrumbs ul {
    padding-left: 20px;
}

.breadcrumbs a {
    color: #999999;
}

.breadcrumbs a:hover {
    text-decoration: none;
    color: #0088CC;
}

/** Tables **/
.table {
    border-width: 2px;
}
.table thead {
    background-color: whitesmoke;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
}

.table tbody, input.tableSearch {
    background-color: #FAFAFA;
}

.table tbody tr:nth-child(2n) td {
    background-color: 	#EEEEEE;
}

.table tbody tr:hover td {
    background-color: #EBF5FF;
}

/** Navigation **/
@media screen and (max-width: 1024px) {
    .header .builds .state  {
        display: none !important;
    }
}

.header .builds.dropdown .dropdown-menu {
    width: 500px;
}

.header .dropdown .dropdown-menu,
.header .dropdown .dropdown-menu li {
    width: 100%;
}

.header .buildLabel {
    padding-left: 20px;
}

.header .headerLabel {
    margin-right: 10px;
}

/** Overview */
.builds-information {
    max-width: 800px;
}
.builds-information .accordion-heading {
    background-color: #E6E6E6;
}
.builds-information .accordion-heading a {
    color: 	#333333;
    border: thin solid #999999;
}

/** Step-View */
.step-navigation .btn {
    display: inline;
    margin-right: 10px;
}

.step-view .hero-unit-small {
    margin-bottom: 0px;
    padding: 10px 20px;
}

.step-view {
    margin: 25px 25px 0px 25px !important;
}

.step-view .step-icon {
    padding-top: 10px;
}

.step-view .step-icon i {
    font-size: 32px;
}

.step-panes {
    cursor: default;
}

/** Scenario-View */
.scenario-span1 {
    width: 3% !important;
    margin-right: 10px;
    min-width: 50px;
    clear: both;
}

.scenario-span2 {
    width: 800px !important;
}

.scenario-span3 {
    padding-top: 15px;
    padding-left: 20px;
    margin-left: 0px !important;
    width: auto !important;
}

.scenario-span1and2 {
    width: 90% !important;
}

/** Screenshot */
.screenshot-small .screenshot-div {
    max-height: 300px;
    margin: 10px 0px 10px;
    overflow:hidden;
    border: medium solid #333333;
}

.screenshot img {
    border: medium solid #333333;
    max-width: 98%;
}

.screenshot-small img {
    width: 800px;
}

.screenshot-div {
    margin-bottom: 10px;
    position: relative;
}

/** Modal */
.modal-huge .modal-body {
    height: 100%;
    max-height: 670px;
}

.modal-huge img {
    text-align: center;
    width: 100%;
}

.modal-huge {
    width: 80%;
    max-height: 750px;
    margin-left: -40%;
}
@media (max-width: 600px) {
    .modal-huge {
        width: 580px;
        margin-left: -290px;
    }
}
