<div layout = "row">
    <tree-nav size="dashboard.navsize" root-feature="dashboard.rootFeature" current-feature="dashboard.feature" click-feature="dashboard.clickFeature"></tree-nav>
    <div flex layout-fill layout = "column">
        <sc-breadcrumbs></sc-breadcrumbs>
        <h1>{{dashboard.feature.name}}</h1>
        <span>{{dashboard.feature.description}}</span>
        <div layout = "row" class="sc-space-top sc-space-bottom">
            <div flex>
                <div class="input-group">
                    <input type="text" class="ng-pristine ng-valid tableSearch form-control" data-toggle="tooltip"
                           title="type words separated by spaces to search for" ng-model="dashboard.table.search.searchTerm"
                           placeholder="Search in feature &quot;{{dashboard.feature.name | scHumanReadable}}&quot;..."/>
                    <span class="input-group-btn">
                <button type="button" ng-click="dashboard.table.search.searchTerm=''" class="btn btn-default">reset</button>
            </span>
                </div>
            </div>
            <div class="col-sm-4">
                <sc-meta-data-button class="pull-right" linking-variable="useCaseShowMetadata" local-storage-key="feature"></sc-meta-data-button>
            </div>
        </div>
        <div layout = "row">
            <site-navigation current="dashboard" flex = "33"></site-navigation>
        </div>
        <sc-meta-data-panel linking-variable="useCaseShowMetadata">
            <div flex layout="column">
                <div>
                    <div layout = "row" >
                        <!--<md-input-container>
                            <label>SortBy</label>
                            <input flex type="text" ng-model="dashboard.firstOrder" />
                        </md-input-container>

                        <md-input-container>
                            <label>SortBy Subs</label>
                            <input flex type="text" ng-model="dashboard.secondOrder" />
                        </md-input-container>-->

                        <!-- Branch selection dropdown -->
                        <div class="dropdown" type="button" uib-dropdown is-open="status.isfirstdropdownopen" id="firstorderdrop">
                            <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                                First order
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a ng-click="dashboard.setOrder('firstOrder', 'milestone')">Milestone</a></li>
                                <li><a ng-click="dashboard.setOrder('firstOrder', 'storyOrderNumber')">Story order number</a></li>
                            </ul>
                        </div>
                        <!--<div class="dropdown" type="button" uib-dropdown is-open="status.isseconddropdownopen" id="secondorderdrop">
                            <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                                Second order
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a ng-click="dashboard.setOrder('secondOrder', 'milestone')">Milestone</a></li>
                                <li><a ng-click="dashboard.setOrder('secondOrder', 'storyOrderNumber')">Story order number</a></li>
                            </ul>
                        </div>-->
                    </div>
                    <div flex layout = "column">
                        <div layout="row">
                            <div ng-repeat="topfeature in dashboard.feature.features | orderBy: dashboard.firstOrder | scFilterArray: dashboard.table.search.searchTerm: 'parentFeature' ">
                                <feature-card ng-click="dashboard.clickFeature(topfeature, '/dashboard')" card-color="#00b3ee" feature="topfeature" />
                            </div>
                        </div>

                        <md-card style="background-color: whitesmoke" ng-repeat="milestone in dashboard.milestones" ng-if="dashboard.containsSubsub(dashboard.feature)">
                            <h2>{{milestone}}</h2>
                            <div layout="row" >
                                <div layout = "column" ng-repeat="topfeature in dashboard.feature.features | orderBy: dashboard.firstOrder | scFilterArray: dashboard.table.search.searchTerm: 'parentFeature' ">
                                    <md-card style="min-width: 15em; padding-left:5px; height: 0px; padding-right: 5px;"></md-card>
                                    <div ng-repeat="feature in topfeature.features | orderBy: dashboard.secondOrder">
                                        <div ng-if="dashboard.eq(milestone, feature.milestone)">
                                            <feature-card ng-click="dashboard.clickFeature(feature, '/dashboard')" card-color="#f9e27d" feature="feature" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </md-card>
                    </div>
                </div>
                <div ng-if="!dashboard.containsSubsub(dashboard.feature)">
                    <br/>
                    This Feature doesn't contain any Subsubfeatures.
                    <br/>
                    You're probably better off with the <a href="/#/feature/">Feature-View</a> or the <a href="/#/detailNav">Docs-View</a>.
                </div>
            </div>

            <side-panel flex="20">
                <header><h1>Details zum angewählten feature</h1></header>
                <content>
                    <feature-detail card-color="#00b3ee" feature="dashboard.feature" click="dashboard.clickFeature"></feature-detail>
                </content>
            </side-panel>
        </sc-meta-data-panel>

    </div>
</div>
