<div class="well well-sm">
    <span>
        <ol class="breadcrumb">
            <li ng-class="{'active': breadcrumb.isLast}" ng-repeat="breadcrumb in breadcrumbs">
                <a ng-show="!breadcrumb.showTooltip && !breadcrumb.isLast" href="{{breadcrumb.href}}" ng-bind-html-unsafe="breadcrumb.text"></a>
                <a ng-show="breadcrumb.showTooltip && !breadcrumb.isLast" tooltip="{{breadcrumb.tooltip}}" tooltip-placement="top" href="{{breadcrumb.href}}" ng-bind-html-unsafe="breadcrumb.text"></a>
                <span ng-show="breadcrumb.isLast" ng-bind-html-unsafe="breadcrumb.text"></span>
            </li>
        </ol>
    </span>
    <span class="pull-right">
        <a href="mailto:?subject=ngUSD:%20{{email.title}}&body={{email.link}}"><i class="icon-envelope icon-with-padding"></i>Email this page</a>
    </span>
</div>