<div class="sc-screenshot-border sc-annotated-screenshot-container">
    <div ng-show="visibilityToggle">
        <span ng-repeat="screenAnnotation in screenAnnotations" class="sc-screenshot-annotation"
              ng-style="getBoxCssStyle(screenAnnotation)">
            {{screenAnnotation.text}}
        </span>
        <i ng-repeat="screenAnnotation in screenAnnotations"
           ng-class="[getIconClass(screenAnnotation.style), 'icon-large', 'sc-screnshot-annotation-icon']" ng-style="getIconCssStyle(screenAnnotation)"
                ng-show="getIconClass(screenAnnotation.style) !== ''"></i>
    </div>
    <img ng-src="{{getScreenShotUrl()}}" class="sc-screenshot"/>
</div>