<sc-breadcrumb></sc-breadcrumb>

<h1>Scenarioo Configuration</h1>

<div class="alert alert-success fade-out" ng-show="successfullyUpdatedConfiguration">
    The configuration has been successfully updated.
    <a ng-click="successfullyUpdatedConfiguration=false" class="pull-right link link-no-hover" style="color: #468847"><i
            class="icon-remove icon"></i></a>
</div>

<form novalidate class="configuration">
    <div class="row ngusd-space-bottom">
        <div class="col-lg-3">Default Branch</div>
        <div class="col-lg-9">
            <select ng-model="configuration.defaultBranchName"
                    ng-options="branch.branch.name as branch.branch.name for branch in branches"
                    class="form-control"></select>
        </div>
    </div>
    <div class="row ngusd-space-bottom">
        <div class="col-lg-3">Default Build</div>
        <div class="col-lg-9">
            <select ng-model="configuration.defaultBuildName"
                    ng-options="build.linkName as build.linkName for build in configuredBranch.builds"
                    class="form-control"></select>
        </div>
    </div>
    <div class="row ngusd-space-bottom">
        <div class="col-lg-3" tooltip="... shown in the overview of a use case">Scenario Properties</div>
        <div class="col-lg-9">
            <input type="text" ng-model="configuration.scenarioPropertiesInOverview" class="form-control"/>
        </div>
    </div>
    <div class="row ngusd-space-bottom">
        <div class="col-lg-3" tooltip="... shown in the overview of a use case">Path to documentation data</div>
        <div class="col-lg-9">
            <input type="text" ng-model="configuration.testDocumentationDirPath" class="form-control"/>
        </div>
    </div>
    <div class="row ngusd-space-bottom">
        <div class="col-lg-3">Application Information</div>
        <div class="col-lg-9">
            <textarea ng-model="configuration.applicationInformation" class="form-control"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <input type="button" ng-click="resetConfiguration()" value="Reset" class="btn btn-wide btn-default"/>
            <input type="button" ng-click="updateConfiguration()" value="Send" class="btn btn-wide btn-primary"/>
        </div>
    </div>
</form>