<div ng-controller="MainBuildsTabCtrl">

    <div class="row ngusd-space-top ngusd-space-bottom">
        <div class="col-lg-3">
            <div class="input-group">
                <input type="text" class="ng-pristine ng-valid tableSearch form-control" id="buildsSearchField" data-toggle="tooltip" title="type words separated by spaces to search for" ng-model="table.search.searchTerm" placeholder="Search build ..."/>
                <span class="input-group-btn">
                    <button type="button" ng-click="resetSearchField()" class="btn btn-default">reset</button>
                </span>
            </div>
        </div>
        <div class="col-lg-9">
            <!-- TODO #93: either make the following feature work or remove it cleanly:
            <span class="pull-right">
                <button ng-click="toggleFilter()" class="btn btn-default">
                    <span ng-show="!table.filtering">Show filter</span>
                    <span ng-show="table.filtering">Hide filter</span>
                </button>
            </span>
            -->
            <a href="" ng-click="importAndUpdateBuilds()" class="link pull-right"><span class="glyphicon" ng-class="{'glyphicon-download': !updatingBuildsInProgress, 'glyphicon-refresh': updatingBuildsInProgress }"></span> Import &amp; Update Builds</a>
        </div>
    </div>

    <!-- builds table -->
    <table ng-table="tableParams" class="table table-curved table-hover table-responsive " ng-model="sort">
        <thead>
        <tr>
            <th sortandfilter="identifier.branchName">Branch</th>
            <th sortandfilter="identifier.buildName">Build</th>
            <th sortandfilter="buildDescription.date">Date</th>
            <th sortandfilter="buildDescription.revision">Revision</th>
            <th sortandfilter="buildDescription.status" class="filter-none">Status</th>
            <th sortandfilter="status">Import Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="build in buildImportStates | scFilterArray: table.search.searchTerm | orderBy: table.sort.column: table.sort.reverse" ng-click="goToBuild(build)" class="link">
            <td>{{build.identifier.branchName}}</td>
            <td>{{build.identifier.buildName}}</td>
            <td>{{build.buildDescription.date | date:'MM/dd/yyyy HH:mm'}}</td>
            <td>{{build.buildDescription.revision}}</td>
            <td>
                <span ng-class="[getStatusStyleClass(build.buildDescription.status), 'label']">{{build.buildDescription.status}}</span>
            </td>
            <td title="{{build.statusMessage}}"><span ng-class="[getStyleClassForBuildImportStatus(build.status), 'label']">{{build.status}}</span>  <a class="link pull-right" ng-click="reimportBuild(build)" tooltip="Reimport and update this build" tooltip-placement="bottom"><i class="icon-refresh icon-with-padding"></i></a></td>
        </tr>
        </tbody>
    </table>


    <script type="text/ng-template" id="buildImportStatusDialog.html">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Build {{ build.identifier.buildName }} on Branch {{ build.identifier.branchName }}</h3>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <b>Build</b>
                        <div class="row">
                            <div class="col-md-4">
                                Revision: {{build.buildDescription.revision}}
                            </div>
                            <div class="col-md-4">
                                Date: {{build.buildDescription.date | date:'MM/dd/yyyy HH:mm'}}
                             </div>
                             <div class="col-md-4">
                                  Status: <span ng-class="[getStatusStyleClass(build.buildDescription.status), 'label']">{{build.buildDescription.status}}</span>
                             </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <b>Import into Scenarioo</b>
                        <div class="row">
                            <div class="col-md-4">
                                Status: <span ng-class="[getStyleClassForBuildImportStatus(build.status), 'label']">{{build.status}}</span>
                            </div>
                            <div class="col-md-4">
                                Date: {{build.importDate | date:'MM/dd/yyyy HH:mm'}}
                            </div>
                            <div class="col-md-4">
                                <div ng-show="hasImportMessage()" class="label-warning">
                                    {{build.statusMessage}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="importLog" class="control-label">Import Log</label>
                        <textarea id="importLog" class="form-control" rows="10" wrap="off" readonly="true" title="the output on the server on importing this build into scenarioo">{{log}}</textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="cancel()">Close</button>
                </div>
            </div>
        </div>
    </script>

 </div>