<div ng-controller="MainUseCasesTabCtrl">

    <div class="row ngusd-space-top ngusd-space-bottom">
        <div class="col-lg-3">
            <div class="input-group">
                <input type="text" class="ng-pristine ng-valid tableSearch form-control" id="useCasesSearchField" data-toggle="tooltip" title="type words separated by spaces to search for" ng-model="table.search.searchTerm" placeholder="Search use case ..."/>
                    <span class="input-group-btn">
                        <button type="button" ng-click="resetSearchField()" class="btn btn-default">reset</button>
                    </span>
            </div>
        </div>
        <div class="col-lg-9">
       </div>
   </div>

   <!-- use cases table -->
    <table ng-table="tableParams" class="table table-curved table-hover table-responsive " ng-model="sort">
        <thead>
        <tr>
            <th sortandfilter="useCase.status">Status</th>
            <th sortandfilter="useCase.name">Name</th>
            <th>Description</th>
            <th sortandfilter="scenarios.length" class="filter-none"># Scenarios</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="useCaseScenarios in useCases | scFilterArray: table.search.searchTerm | orderBy: table.sort.column: table.sort.reverse" ng-click="goToUseCase(useCaseScenarios.useCase.name)" class="link">
            <td>
                <span ng-class="[getStatusStyleClass(useCaseScenarios.useCase.status), 'label']">{{useCaseScenarios.useCase.status}}</span>
            </td>
            <td>{{useCaseScenarios.useCase.name | scHumanReadable }}</td>
            <td>{{useCaseScenarios.useCase.description}}</td>
            <td>{{useCaseScenarios.scenarios.length}}</td>
        </tr>
        </tbody>
    </table>

 </div>