<!-- View Metadata toggle button -->
<div style="display:inline-block;" id="sc-showHideDetailsButton" ng-click="toggleShowingMetadata()">
	<button id="sc-showHideDetailsButton-hide" ng-show="linkingVariable" class="btn btn-default"
	   tooltip="Hide detailed data" tooltip-placement="bottom">Hide Meta Data</button>
	<button id="sc-showHideDetailsButton-show" ng-hide="linkingVariable" class="btn btn-default"
	   tooltip="Show detailed data" tooltip-placement="bottom">Show Meta Data</button>
</div>