<!-- View Screen Annotations toggle button -->
<div style="display:inline-block;" id="sc-showHideDetailsButton" ng-click="toggleShowingMetadata()">
	<button id="sc-showHideDetailsButton-hide" ng-show="linkingVariable" class="btn btn-default"
	   tooltip="Hides the overlay with additional information on the screenshot" tooltip-placement="bottom">Hide Screen Annotations</button>
	<button id="sc-showHideDetailsButton-show" ng-hide="linkingVariable" class="btn btn-default"
	   tooltip="Shows the overlay with additional information on the screenshot" tooltip-placement="bottom">Show Screen Annotations</button>
</div>