<!-- View Metadata toggle button -->
<div class="row sc-space-top sc-space-bottom">
    <div class="col-lg-12 ">
        <div class="pull-right">
            <div class="" ng-click="toggleShowingMetadata()">
                <a id="sc-showHideDetailsButton-hide" class="btn btn-default" tooltip="Hide detailed data" tooltip-placement="bottom">Hide Meta Data</a>
                <a id="sc-showHideDetailsButton-show"  class="btn btn-default" tooltip="Show detailed data" tooltip-placement="bottom">Show Meta Data</a>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-transclude/>