<sc-breadcrumb></sc-breadcrumb>

<h1>Step {{pageIndex+1}}.{{stepIndex}}: {{pageName}}</h1>

<!-- Action buttons -->
<div class="row step-navigation ngusd-space-top ngusd-space-bottom">
    <div class="col-lg-6">
        <div ng-click="goToPreviousPage()" class="btn btn-default" tooltip="Previous Page" tooltip-placement="bottom">
            <span class="icon-with-padding icon-large icon-fast-backward"></span>
        </div>
        <div ng-click="goToPreviousStep()" class="btn btn-default" tooltip="Previous Step" tooltip-placement="bottom">
            <i class="icon-with-padding icon-large icon-step-backward"></i>
        </div>
        <div ng-click="goToNextStep()" class="btn btn-default" tooltip="Next Step" tooltip-placement="bottom">
            <i class="icon-with-padding icon-large icon-step-forward"></i>
        </div>
        <div ng-click="goToNextPage()" class="btn btn-default" tooltip="Next Page" tooltip-placement="bottom">
            <i class="icon-with-padding icon-large icon-fast-forward"></i>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="pull-right">
            <div ng-click="goToPreviousVariant()" class="btn btn-default" tooltip="Previous variant" tooltip-placement="bottom">
                <i class="icon-with-padding icon-large icon-step-backward"></i>
            </div>
            <div style="min-width: 70px; text-align: center;" class="inline-block">
                {{step.stepDescription.variantIndex}} of {{pageVariantCounts[0][pageName]}}
            </div>
            <div ng-click="goToNextVariant()" class="btn btn-default" tooltip="Next variant" tooltip-placement="bottom">
                <i class="icon-with-padding icon-large icon-step-forward"></i>
            </div>

            <div class="inline-block dropdown">
                <button class="dropdown-toggle btn btn-default">
                    More Actions
                    <div class="icon-with-padding"><b class="caret"></b></div>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a ng-click="goToFirstPage()" class="link">Go to the first page</a>
                    </li>
                    <li>
                        <a ng-click="goToLastPage()" class="link">Go to the last page</a>
                    </li>
                    <li>
                        <a ng-click="openInfoModal('Shortcuts')" class="link">Key Shortcuts</a>
                    </li>
                </ul>
            </div>
            <div class="inline-block" ng-click="showingMetaData=!showingMetaData">
                <a class="btn btn-default" ng-show="showingMetaData">Hide Meta Data</a>
                <a class="btn btn-default" ng-show="!showingMetaData">Show Meta Data</a>
            </div>
        </div>
    </div>
</div>

<!-- screenshot and information -->
<div class="row step-main">
    <div ng-class="{true: 'step-data-small col-lg-7', false: 'step-data-large col-lg-12'}[showingMetaData]">
        <tabset class="step-panes">
            <tab heading="Screenshot">
                <div class="screenshot">
                    <img ng-src="{{getScreenShotUrl(step.stepDescription.screenshotFileName)}}"/>
                </div>
            </tab>
            <tab heading="HTML">
                <pre ng-bind="formattedHtml">
                </pre>
            </tab>
        </tabset>
    </div>
    <div ng-show="showingMetaData" class="col-lg-5 hero-unit meta-data">

        <div>
            <div class="panel panel-default">
                <div class="panel-heading link" ng-click="toggleMetadataCollapsed('sc-step-properties')">
                    <h3 class="panel-title">Step</h3>
                </div>
                <div class="panel-body" ng-class="{hidden: isMetadataCollapsed('sc-step-properties'), metadata: true}">
                    <sc-tree data='stepDescriptionTree'></sc-tree>
                </div>
            </div>
        </div>

        <div>
            <div class="panel panel-default">
                <div class="panel-heading link" ng-click="toggleMetadataCollapsed('sc-page-properties')">
                    <h3 class="panel-title">Page</h3>
                </div>
                <div class="panel-body" ng-class="{hidden: isMetadataCollapsed('sc-page-properties'), metadata: true}">
                    <sc-tree data='pageTree'></sc-tree>
                </div>
            </div>
        </div>

        <div ng-repeat="(key,value) in metadataTree">
            <div class="panel panel-default">
                <div class="panel-heading link" ng-click="toggleMetadataCollapsed(key)">
                    <h3 class="panel-title">{{key | scHumanReadable}}</h3>
                </div>
                <div class="panel-body" ng-class="{hidden: isMetadataCollapsed(key), metadata: true}">
                    <sc-tree data='value'></sc-tree>
                </div>
            </div>
        </div>


    </div>
</div>