<usd-breadcrumb></usd-breadcrumb>

<div class="row ngusd-space-top ngusd-space-bottom">
    <div class="col-lg-8">
        <h1>Use Case: {{useCase.name | scHumanReadable}}</h1>
    </div>
    <div class="col-lg-1">
        <span class="pull-right">
            <button ng-click="switchFilter()" class="btn btn-default">
                <span ng-show="!table.filtering">Show filter</span>
                <span ng-show="table.filtering">Hide filter</span>
            </button>
        </span>
    </div>
    <div class="col-lg-3">
        <div class="input-group">
            <input type="text" class="ng-pristine ng-valid tableSearch form-control" id="useCasesSearchField" data-toggle="tooltip" title="filter for use case" ng-model="table.search.$" placeholder="Search scenario..."/>
            <span class="input-group-btn">
                <button type="button" ng-click="resetSearchField()" class="btn btn-default">reset</button>
            </span>
        </div>
    </div>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th sortandfilter="status">Status</th>
            <th sortandfilter="name">Scenario name</th>
            <th>Actions</th>
            <th>Description</th>
            <th ng-repeat="property in propertiesToShow" sortandfilter="details.properties.{{property}}">{{property | scHumanReadable}}</th>
            <th sortandfilter="calculatedData.numberOfSteps" class="filter-none"># Steps</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-click="goToScenario(useCase.name, scenario.name)" class="link" ng-repeat="scenario in scenarios | scFilterArray:table.search.$ | orderBy:table.sort.column:table.sort.reverse">
            <td>
                <span class="label state" ng-class="buildStateToClassMapping[scenario.status]">{{scenario.status}}</span>
            </td>
            <td>{{scenario.name | scHumanReadable }}</td>
            <td>
                <a ng-click="goToFirstStep(useCase.name, scenario.name)" tooltip="Go to first step" tooltip-placement="bottom"><i class="icon-tablet icon-with-padding"></i></a>
                <a><i class="icon-list-ul icon-with-padding" tooltip="Go to scenario overview" tooltip-placement="bottom"></i></a>
            </td>
            <td>{{scenario.description}}</td>
            <td ng-repeat="property in propertiesToShow">{{scenario.details.properties[property]}}</td>
            <td>{{scenario.calculatedData.numberOfSteps}}</td>
        </tr>
    </tbody>
</table>
