<div>
    <form name="branchAliasesForm">
        <table class="table table-curved table-responsive">
            <thead>
            <tr>
                <th>Alias Name *</th>
                <th>Referenced Branch *</th>
                <th>Description</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let branchAlias of branchAliases; let i = index">
                <td>
                    <input type="text" class="form-control" [(ngModel)]="branchAlias.name"
                           (change)="onAliasNameChanged()"
                           data-type="branchAlias"
                           [name]="'aliasName' + i"/>
                </td>
                <td>
                    <select class="form-control" [(ngModel)]="branchAlias.referencedBranch"
                            data-type="referencedBranch"
                            [name]="'referencedBranch' + i">
                        <option value=""></option>
                        <option *ngFor="let branch of (branches$ | async)"
                                [value]="branch.branch.name">{{ branch.branch.name }}</option>
                    </select>

                </td>
                <td>
                    <input type="text" class="form-control" [(ngModel)]="branchAlias.description"
                           data-type="aliasDescription"
                           [name]="'aliasDescription' + i"/>

                </td>
                <td>
                    <input type="button" class="btn btn-small btn-danger" (click)="onDelete(branchAlias)"
                           value="Delete"/>
                </td>
            </tr>
            </tbody>
        </table>
    </form>

    <div class="alert alert-success fade-out" id="updated-branch-aliases-successfully"
         *ngIf="successfullyUpdatedBranchAliases">
        The branch aliases have been successfully updated.
        <a (click)="successfullyUpdatedBranchAliases=false" class="pull-right link link-no-hover"
           style="color: #468847"><i
            class="fas fa-times"></i></a>
    </div>

    <div class="alert alert-danger fade-out" *ngIf="uniqueError" id="duplicateAliasErrorId">
        <strong>Your branch aliases are not unique.</strong> Please make sure each name is only used once.
    </div>

    <div class="alert alert-danger fade-out" *ngIf="requiredError" id="requiredFieldsErrorId">
        <strong>Required fields are missing.</strong>
    </div>


    <div class="row sc-space-top-large">
        <div class="col-lg-12" style="text-align: right">
            <input type="button" value="Reset" class="btn btn-wide btn-default" (click)="onReset()"/>
            <input type="button" value="Save" class="btn btn-wide btn-primary" (click)="onSave()"/>
        </div>
    </div>
</div>
