<tabs active="Shortcuts">
    <pane heading="Vision">
        ngUSD is an education project by some developers from Switzerland to develop a webapplication that can be used to browse "User Scenario Documentations",
        which are documentations generated automatically from your UI tests (e.g. by Selenium). A user scenario documentation is a functional documentation of
        your software describing all use cases and the most important user scenarios of your software. Each scenario is documented by step by step screenshots
        and a lot of additional meta information about what is going on in your application.
    </pane>

    <pane heading="Shortcuts" active="infoModal.tab=='Shortcuts'">
        You can use shortcuts to navigate through the steps of a scenario.
        <dl>
            <dt><i class="icon icon-arrow-left icon-with-padding"></i> Arrow-Left</dt>
            <dd>Previous Step</dd>
            <dt><i class="icon icon-arrow-right icon-with-padding"></i> Arrow-Right</dt>
            <dd>Next Step</dd>
            <dt><i class="icon icon-arrow-up icon-with-padding"></i> Arrow-Up</dt>
            <dd>Previous Page</dd>
            <dt><i class="icon icon-arrow-down icon-with-padding"></i> Arrow-Down</dt>
            <dd>Next Page</dd>
        </dl>
    </pane>

    <pane heading="Contributors">
        <a href="http://github.com/forkch/ngUSD/" target="_blank">http://github.com/forkch/ngUSD/</a>
    </pane>
</tabs>