<tabs>
    <pane heading="Vision">
        ngUSD is an education project by some developers from Switzerland to develop a webapplication that can be used to browse "User Scenario Documentations",
        which are documentations generated automatically from your UI tests (e.g. by Selenium). A user scenario documentation is a functional documentation of
        your software describing all use cases and the most important user scenarios of your software. Each scenario is documented by step by step screenshots
        and a lot of additional meta information about what is going on in your application.
    </pane>

    <pane heading="Shortcuts">
        You can use shortcuts to navigate through the step view.
    </pane>

    <pane heading="Contributors">
        <a href="http://github.com/forkch/ngUSD/" target="_blank">http://github.com/forkch/ngUSD/</a>
    </pane>
</tabs>