<div class="container-fluid">
    <h3>Welcome to the ngUSD</h3>
    <div class="span2,input-append">
        Search: <input ng-model="searchFieldText" />
        <button ng-click="onButton1Click()" class="btn1">reset</button>
    </div>
    <div class="spanResultTable">
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Status</th>
            </tr>
            <tbody ng-repeat="useCase in useCases | filter:searchFieldText">
                <tr>
                    <td>{{useCase.name}}</td>
                    <td>{{useCase.description}}</td>
                    <td>{{useCase.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>