<div class="container-fluid">
    <div class="row-fluid">
        <div class="span6 hero-unit"><h3>Welcome to the ngUSD</h3></div>

        <div class="span6" ng-controller="NavigationCtrl" class="header">
            <h4>Build Information</h4>
            <div>
                <div class="row-fluid">
                    <div class="span4">Name</div>
                    <div class="span8">{{selectedBuild.linkName}}</div>
                </div>
                <div class="row-fluid">
                    <div class="span4">Revision</div>
                    <div class="span8">{{selectedBuild.build.revision}}</div>
                </div>
                <div ng-repeat="(key,value) in selectedBuild.build.details.details" class="row-fluid">
                    <div class="span4">{{key | camelCase}}</div>
                    <div class="span8">{{value}}</div>
                </div>
            </div>


            <h4>Latest Builds</h4>
            <accordion close-others="true">
                <accordion-group ng-repeat="branch in branches" heading="{{branch.branch.name}}">
                    <div ng-repeat="build in branch.builds" ng-include="'/template/build.html'" ng-click="setBuild(branch, build)">
                    </div>
                </accordion-group>
            </accordion>
        </div>
    </div>


    <div class="span2,input-append">
        <input data-toggle="tooltip" title="filter for use case" ng-model="searchFieldText"/>
        <button ng-click="resetSearchField()" class="btn1">reset</button>
    </div>
    <div class="spanResultTable">
        <table ng-table="tableParams" class="table table-bordered">
            <tr>
                <th>Status</th>
                <th>Name</th>
                <th>Description</th>
                <th># Scenarios</th>
            </tr>
            <tr ng-repeat="useCaseScenarios in useCaseScenariosList | filter:searchFieldText">
                <td>
                    <span ng-class="getStatusType(useCaseScenarios.useCase.status)">{{useCaseScenarios.useCase.status}}</span>
                </td>
                <td><a href='#/usecase/{{useCaseScenarios.useCase.name}}'>{{useCaseScenarios.useCase.name}}</a></td>
                <td>{{useCaseScenarios.useCase.description}}</td>
                <td>{{useCaseScenarios.scenarios.length}}</td>
            </tr>
        </table>
    </div>
</div>