<usd-breadcrumb></usd-breadcrumb>

<h1>Home</h1>

<tabs class="step-panes">
    <pane heading="Use Cases">
        <div class="row ngusd-space-top ngusd-space-bottom">
            <div class="col-lg-3">
                <div class="input-group">
                    <input type="text" class="ng-pristine ng-valid tableSearch form-control" id="useCasesSearchField" data-toggle="tooltip" title="filter for use case" ng-model="table.search.$" placeholder="Search use case..."/>
                    <span class="input-group-btn">
                        <button type="button" ng-click="resetSearchField()" class="btn btn-default">reset</button>
                    </span>
                </div>
            </div>
            <div class="col-lg-9">
                <span class="pull-right">
                    <button ng-click="switchFilter()" class="btn btn-primary">
                        <span ng-show="!table.filtering">Show filter</span>
                        <span ng-show="table.filtering">Hide filter</span>
                    </button>
                </span>
            </div>
        </div>

        <table ng-table="tableParams" class="table table-bordered" ng-model="sort">
            <thead>
            <tr>
                <th sortandfilter="useCase.status">Status</th>
                <th sortandfilter="useCase.name">Name</th>
                <th>Description</th>
                <th sortandfilter="scenarios.length" class="filter-none"># Scenarios</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="useCaseScenarios in useCaseScenariosList | filter:table.search | orderBy:table.sort.column:table.sort.reverse" ng-click="goToUseCase(useCaseScenarios.useCase.name)" class="link">
                <td>
                    <span ng-class="[buildStateToClassMapping[useCaseScenarios.useCase.status], 'label']">{{useCaseScenarios.useCase.status}}</span>
                </td>
                <td>{{useCaseScenarios.useCase.name | toHumanReadable }}</td>
                <td>{{useCaseScenarios.useCase.description}}</td>
                <td>{{useCaseScenarios.scenarios.length}}</td>
            </tr>
            </tbody>
        </table>
    </pane>

    <pane heading="Build Information">
        <div class="container-fluid builds-information">
            <div class="row">
                <div class="col-lg-12" ng-controller="NavigationCtrl" class="header">
                    <h4>Build Information</h4>
                    <div>
                        <div class="row">
                            <div class="col-lg-4">Build Name:</div>
                            <div class="col-lg-8">{{selectedBuild.linkName}}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">Branch Name:</div>
                            <div class="col-lg-8">{{selectedBranch.branch.name}}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">Revision:</div>
                            <div class="col-lg-8">{{selectedBuild.build.revision}}</div>
                        </div>
                        <div ng-repeat="(key,value) in selectedBuild.build.details.details" class="row">
                            <div class="col-lg-4">{{key | toHumanReadable}}</div>
                            <div class="col-lg-8">{{value}}</div>
                        </div>
                    </div>

                    <h4>Latest Builds</h4>
                    <accordion close-others="true">
                        <accordion-group ng-repeat="branch in branches" heading="{{branch.branch.name}}">
                            <div ng-repeat="build in branch.builds" ng-include="'template/build.html'" ng-click="setBuild(branch, build)">
                            </div>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
        </div>
    </pane>
</tabs>
