<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">ngUSD</a>
        <ul class="nav">
           <li ng-repeat="branch in branches" class="dropdown">
               <a class="dropdown-toggle">
                   {{branch.id}}<b class="caret"></b>
               </a>
               <ul class="dropdown-menu">
                   <li>
                       <a href="#/build/l{{branch.name}}/current">Current</a>
                   </li>
                   <li ng-repeat="build in branch.builds">
                       <a href="#/build/l{{branch.name}}/{{build.name}}">{{build.name}}</a>
                   </li>
               </ul>
           </li>
        </ul>
    </div>
</div>