<div class="header navbar navbar-inverse">
    <div class="navbar-inner">
        <a class="brand" href="#">ngUSD</a>
        <ul class="nav">
            <li><a href="#"><i class="icon-home icon-with-padding"></i>Home</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle link">
                    <span class="headerLabel"><i class="icon-hdd icon-with-padding"></i>Branch:</span>
                    {{selectedBranch.branch.name}}
                    <div class="icon-with-padding"><b class="caret"></b></div>
                </a>
                <ul class="dropdown-menu">
                    <li ng-repeat="branch in branches">
                        <a class="link" ng-click="setBranch(branch)">{{branch.branch.name}}</a>
                    </li>
                </ul>
            </li>
            <li class="builds dropdown">
                <a class="dropdown-toggle link">
                    <span class="headerLabel"><i class="icon-folder-close-alt icon-with-padding"></i>Build:</span>
                    {{getDisplayName(selectedBuild)}}
                    <span class="label state" style="margin-left: 10px" ng-class="{{statesToClass[selectedBuild.build.state]}}">{{selectedBuild.build.state}}</span>
                    <div class="icon-with-padding"><b class="caret"></b></div>
                </a>
                <ul class="dropdown-menu container-fluid">
                    <li ng-repeat="build in selectedBranch.builds">
                        <a ng-include="'template/build.html'" ng-click="setBuild(selectedBranch, build)">
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="pull-right">
            <ul class="nav">
                <li>
                    <a href="#" ng-click="aggregate()"><i class="icon-with-padding" ng-class="{'icon-download': !aggregationInProgress, 'icon-refresh': aggregationInProgress, 'icon-spin': aggregationInProgress  }"></i>Import</a>
                </li>
                <li>
                    <a href="#/config"><i class="icon-cogs icon-with-padding"></i>Configuration</a>
                </li>
                <li>
                    <a ng-click="openInfoModal()" class="link"><i class="icon-info icon-with-padding"></i>Info</a>
                </li>
            </ul>
        </div>
    </div>
</div>


<div modal="infoModal.showing" close="closeInfoModal()" options="modalInfoOptions">
    <div class="modal-header">
        <h3>ngUSD</h3>
    </div>
    <div class="modal-body" ng-include="'/views/applicationInfoPopup.html'">
    </div>
    <div class="modal-footer">
        <button class="btn" ng-click="closeInfoModal()">Close</button>
    </div>
</div>