<div class="row-fluid">
    <div class="span12">
        <h1>Scenario: {{scenario.name}}</h1>
    </div>

</div>
<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid">
            <div class="input-append">
                Search: <input type="text" class="span2" ng-model="searchFieldText" />
                <button ng-click="resetSearchField()" class="btn">reset</button>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <table class="table table-stiped table-bordered table-hover">
                    <thead>
                        <tr>

                            <th>Screenshot</th>
                            <th>Step-Nr. - Title</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="pageSteps in pagesAndSteps">
                        <tr ng-repeat="step in pageSteps.steps | filter:searchFieldText">
                            <td>
                                <span class="label {{step.status}}">{{step.status}}</span>
                            </td>
                            <td>
                                <b>{{$parent.$index}}.{{$index}} - {{step.title || "untitled"}}</b><br/>
                                {{pageSteps.page.name}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>