<usd-breadcrumb></usd-breadcrumb>

<div class="row-fluid">
    <div class="span12">
        <h1>Step {{pageIndex}}.{{stepIndex}} {{pageName}}</h1>
    </div>
</div>


<div class="row-fluid step-navigation">
    <div ng-click="goToPreviousPage()" class="link" tooltip="Previous Page" tooltip-placement="bottom">
        <i class="icon-with-padding icon-large icon-backward"></i>
    </div>
    <div ng-click="goToPreviousStep()" class="link" tooltip="Previous Step" tooltip-placement="bottom">
        <i class="icon-with-padding icon-large icon-step-backward"></i>
    </div>
    <div ng-click="goToNextStep()" class="link" tooltip="Next Step" tooltip-placement="bottom">
        <i class="icon-with-padding icon-large icon-step-forward"></i>
    </div>
    <div ng-click="goToNextPage()" class="link" tooltip="Next Page" tooltip-placement="bottom">
        <i class="icon-with-padding icon-large icon-forward"></i>
    </div>
</div>
<br/>

<div class="row-fluid">
    <div class="span12">
        <tabs>
            <pane heading="Screenshot">
                <img src="{{getScreenShotUrl(step.screenshotURL)}}"/>
            </pane>
            <pane heading="HTML"></pane>
        </tabs>
    </div>
</div>